<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Explore</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="topBar">
      <div class="upperLeft">
          <a href="/">
              /
          </a>
      </div>
      <div class="upperRight">
          <a href="/explore/">
              explore
          </a>
          &nbsp;&nbsp;&nbsp;
          <a href="/u/{{logname}}/">
              {{logname}}
          </a>
      </div>
    </div>
  <br>
  <br>
  <br>
  <h1>Discover People</h1>
  <div class="profileTopBar">
    {% for people in not_following %}
    <a href="/u/{{people.username}}/">
        <img src="{{people.user_img_url}}" alt=profilePic.jpg>
        <span style="font-weight:bold">{{people['username']}} </span>
    </a>
    {% endfor %}
  </div>      

  </body>
</html>
